MenuMate/Services/Loyalty_mate/Loyalty_mate_wcf_service_test/Loyalty_mate_wcf_service_test/Service References/LoyaltyMateWCFServiceRef/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MenumateServices.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MenumateServices.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DTO_MMServiceResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Succesful" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTO_MMServiceResponse" nillable="true" type="tns:DTO_MMServiceResponse" />
</xs:schema>