SignalR/Client/SystemTrayApp/Connected Services/OnlineOrderingRef/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/MenumateServices.DTO.MenumateOnlineOrdering.OrderModels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MenumateServices.DTO.MenumateOnlineOrdering.OrderModels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8750/MenumateServices/OnlineOrdering/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/MenumateServices.DTO.Enum" />
  <xs:import schemaLocation="http://localhost:8750/MenumateServices/OnlineOrdering/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="SiteOrderModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompanyId" type="xs:long" />
      <xs:element minOccurs="0" name="ContainerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContainerNumber" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MenumateServices.DTO.Enum" minOccurs="0" name="ContainerType" type="q1:OrderContainerType" />
      <xs:element minOccurs="0" name="IsConfirmed" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsHappyHourApplied" type="xs:boolean" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MemberGuid" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="OrderGuid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderId" type="xs:long" />
      <xs:element minOccurs="0" name="OrderInvoiceTransaction" nillable="true" type="tns:OrderInvoiceTransactionModel" />
      <xs:element minOccurs="0" name="OrderItems" nillable="true" type="tns:ArrayOfOrderItemModel" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MenumateServices.DTO.Enum" minOccurs="0" name="OrderType" type="q2:OrderType" />
      <xs:element minOccurs="0" name="SiteId" type="xs:long" />
      <xs:element minOccurs="0" name="TerminalName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalAmount" type="xs:double" />
      <xs:element minOccurs="0" name="TransactionDate" type="xs:dateTime" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MenumateServices.DTO.Enum" minOccurs="0" name="TransactionType" type="q3:SiteSettingType" />
      <xs:element minOccurs="0" name="UserEmailId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserReferenceId" type="xs:long" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MenumateServices.DTO.Enum" minOccurs="0" name="UserType" type="q4:UserType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SiteOrderModel" nillable="true" type="tns:SiteOrderModel" />
  <xs:complexType name="OrderInvoiceTransactionModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="InvoiceTransaction" nillable="true" type="tns:InvoiceTransactionModel" />
      <xs:element minOccurs="0" name="InvoiceTransactionId" type="xs:long" />
      <xs:element minOccurs="0" name="OrderId" type="xs:long" />
      <xs:element minOccurs="0" name="OrderInvoiceTransactionId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderInvoiceTransactionModel" nillable="true" type="tns:OrderInvoiceTransactionModel" />
  <xs:complexType name="InvoiceTransactionModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="InvoiceNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InvoiceTransactionId" type="xs:long" />
      <xs:element minOccurs="0" name="Receipt" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="ReceiptPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rounding" type="xs:double" />
      <xs:element minOccurs="0" name="SiteId" type="xs:long" />
      <xs:element minOccurs="0" name="TerminalName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalSaleAmount" type="xs:double" />
      <xs:element minOccurs="0" name="TransactionDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UserReferenceId" type="xs:long" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MenumateServices.DTO.Enum" minOccurs="0" name="UserType" type="q5:UserType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InvoiceTransactionModel" nillable="true" type="tns:InvoiceTransactionModel" />
  <xs:complexType name="ArrayOfOrderItemModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderItemModel" nillable="true" type="tns:OrderItemModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderItemModel" nillable="true" type="tns:ArrayOfOrderItemModel" />
  <xs:complexType name="OrderItemModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemUniqueId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderId" type="xs:long" />
      <xs:element minOccurs="0" name="OrderItemId" type="xs:long" />
      <xs:element minOccurs="0" name="OrderItemSizes" nillable="true" type="tns:ArrayOfOrderItemSizeModel" />
      <xs:element minOccurs="0" name="Price" type="xs:double" />
      <xs:element minOccurs="0" name="SiteItemId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderItemModel" nillable="true" type="tns:OrderItemModel" />
  <xs:complexType name="ArrayOfOrderItemSizeModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderItemSizeModel" nillable="true" type="tns:OrderItemSizeModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderItemSizeModel" nillable="true" type="tns:ArrayOfOrderItemSizeModel" />
  <xs:complexType name="OrderItemSizeModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="BasePrice" type="xs:double" />
      <xs:element minOccurs="0" name="ItemSizeId" type="xs:long" />
      <xs:element minOccurs="0" name="ItemSizeUniqueId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MenuPrice" type="xs:double" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderItemId" type="xs:long" />
      <xs:element minOccurs="0" name="OrderItemSizeDiscounts" nillable="true" type="tns:ArrayOfOrderItemSizeDiscountModel" />
      <xs:element minOccurs="0" name="OrderItemSizeId" type="xs:long" />
      <xs:element minOccurs="0" name="OrderItemSizeTaxProfiles" nillable="true" type="tns:ArrayOfOrderItemSizeTaxProfileModel" />
      <xs:element minOccurs="0" name="Price" type="xs:double" />
      <xs:element minOccurs="0" name="PriceInclusive" type="xs:double" />
      <xs:element minOccurs="0" name="Quantity" type="xs:double" />
      <xs:element minOccurs="0" name="ReferenceOrderItemSizeId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderItemSizeModel" nillable="true" type="tns:OrderItemSizeModel" />
  <xs:complexType name="ArrayOfOrderItemSizeDiscountModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderItemSizeDiscountModel" nillable="true" type="tns:OrderItemSizeDiscountModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderItemSizeDiscountModel" nillable="true" type="tns:ArrayOfOrderItemSizeDiscountModel" />
  <xs:complexType name="OrderItemSizeDiscountModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderItemSizeDiscountId" type="xs:long" />
      <xs:element minOccurs="0" name="OrderItemSizeId" type="xs:long" />
      <xs:element minOccurs="0" name="Value" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderItemSizeDiscountModel" nillable="true" type="tns:OrderItemSizeDiscountModel" />
  <xs:complexType name="ArrayOfOrderItemSizeTaxProfileModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderItemSizeTaxProfileModel" nillable="true" type="tns:OrderItemSizeTaxProfileModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderItemSizeTaxProfileModel" nillable="true" type="tns:ArrayOfOrderItemSizeTaxProfileModel" />
  <xs:complexType name="OrderItemSizeTaxProfileModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompanyId" type="xs:long" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemSizeTaxProfileId" type="xs:long" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderItemSizeId" type="xs:long" />
      <xs:element minOccurs="0" name="OrderItemSizeTaxProfileId" type="xs:long" />
      <xs:element minOccurs="0" name="Percentage" type="xs:double" />
      <xs:element minOccurs="0" name="Priority" type="xs:int" />
      <xs:element minOccurs="0" name="Rate" type="xs:double" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/MenumateServices.DTO.Enum" minOccurs="0" name="TaxProfileType" type="q6:TaxProfileType" />
      <xs:element minOccurs="0" name="Value" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderItemSizeTaxProfileModel" nillable="true" type="tns:OrderItemSizeTaxProfileModel" />
</xs:schema>