Static Files/wsdl schema/VoucherAPIService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="VoucherAPIImplementation" targetNamespace="http://voucher.menumate.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://voucher.menumate.com/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://voucher.menumate.com/">
      <xsd:element name="AuthToken">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="arg0" type="xsd:string"/>
            <xsd:element minOccurs="0" maxOccurs="1" name="arg1" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="AuthTokenResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="return" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="RedeemVoucher">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="arg0" type="xsd:string"/>
            <xsd:element minOccurs="0" maxOccurs="1" name="arg1" type="xsd:string"/>
            <xsd:element minOccurs="0" maxOccurs="1" name="arg2" type="xsd:string"/>
            <xsd:element minOccurs="1" maxOccurs="1" name="arg3" type="xsd:decimal"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="RedeemVoucherResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="return" type="tns:voucherResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="voucherResponse">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="Status" type="xsd:int"/>
          <xsd:element minOccurs="0" maxOccurs="1" name="Msg" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="CreditVoucher">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="arg0" type="xsd:string"/>
            <xsd:element minOccurs="0" maxOccurs="1" name="arg1" type="xsd:string"/>
            <xsd:element minOccurs="0" maxOccurs="1" name="arg2" type="xsd:string"/>
            <xsd:element minOccurs="1" maxOccurs="1" name="arg3" type="xsd:decimal"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CreditVoucherResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="return" type="tns:voucherResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="AuthTokenRequest">
    <wsdl:part name="parameters" element="tns:AuthToken"/>
  </wsdl:message>
  <wsdl:message name="AuthTokenResponse">
    <wsdl:part name="parameters" element="tns:AuthTokenResponse"/>
  </wsdl:message>
  <wsdl:message name="RedeemVoucherRequest">
    <wsdl:part name="parameters" element="tns:RedeemVoucher"/>
  </wsdl:message>
  <wsdl:message name="RedeemVoucherResponse">
    <wsdl:part name="parameters" element="tns:RedeemVoucherResponse"/>
  </wsdl:message>
  <wsdl:message name="CreditVoucherRequest">
    <wsdl:part name="parameters" element="tns:CreditVoucher"/>
  </wsdl:message>
  <wsdl:message name="CreditVoucherResponse">
    <wsdl:part name="parameters" element="tns:CreditVoucherResponse"/>
  </wsdl:message>
  <wsdl:portType name="VoucherAPI">
    <wsdl:operation name="AuthToken">
      <wsdl:input wsaw:Action="http://voucher.menumate.com/VoucherAPI/AuthTokenRequest" name="AuthTokenRequest" message="tns:AuthTokenRequest"/>
      <wsdl:output wsaw:Action="http://voucher.menumate.com/VoucherAPI/AuthTokenResponse" name="AuthTokenResponse" message="tns:AuthTokenResponse"/>
    </wsdl:operation>
    <wsdl:operation name="RedeemVoucher">
      <wsdl:input wsaw:Action="http://voucher.menumate.com/VoucherAPI/RedeemVoucherRequest" name="RedeemVoucherRequest" message="tns:RedeemVoucherRequest"/>
      <wsdl:output wsaw:Action="http://voucher.menumate.com/VoucherAPI/RedeemVoucherResponse" name="RedeemVoucherResponse" message="tns:RedeemVoucherResponse"/>
    </wsdl:operation>
    <wsdl:operation name="CreditVoucher">
      <wsdl:input wsaw:Action="http://voucher.menumate.com/VoucherAPI/CreditVoucherRequest" name="CreditVoucherRequest" message="tns:CreditVoucherRequest"/>
      <wsdl:output wsaw:Action="http://voucher.menumate.com/VoucherAPI/CreditVoucherResponse" name="CreditVoucherResponse" message="tns:CreditVoucherResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_VoucherAPI" type="tns:VoucherAPI">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="AuthToken">
      <soap:operation soapAction="http://voucher.menumate.com/VoucherAPI/AuthTokenRequest" style="document"/>
      <wsdl:input name="AuthTokenRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="AuthTokenResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RedeemVoucher">
      <soap:operation soapAction="http://voucher.menumate.com/VoucherAPI/RedeemVoucherRequest" style="document"/>
      <wsdl:input name="RedeemVoucherRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="RedeemVoucherResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreditVoucher">
      <soap:operation soapAction="http://voucher.menumate.com/VoucherAPI/CreditVoucherRequest" style="document"/>
      <wsdl:input name="CreditVoucherRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="CreditVoucherResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VoucherAPIImplementation">
    <wsdl:port name="BasicHttpBinding_VoucherAPI" binding="tns:BasicHttpBinding_VoucherAPI">
      <soap:address location="https://api.treatme.co.nz/WebServices/Menumate/VoucherAPIService.svc"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>