SignalR/Client/SystemTrayApp/Connected Services/OnlineOrdering/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MenumateServices.DTO.MenumateOnlineOrdering" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MenumateServices.DTO.MenumateOnlineOrdering" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="OOLoyaltyResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OOServiceResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="ResponseCode" type="tns:OOLoyaltyResponseCode" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OOLoyaltyResponse" nillable="true" type="tns:OOLoyaltyResponse" />
  <xs:complexType name="OOServiceResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Successful" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OOServiceResponse" nillable="true" type="tns:OOServiceResponse" />
  <xs:simpleType name="OOLoyaltyResponseCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Successful" />
      <xs:enumeration value="AuthenticationFailed" />
      <xs:enumeration value="CreateMemberFailed" />
      <xs:enumeration value="UpdateMemberFailed" />
      <xs:enumeration value="DeleteMemberFailed" />
      <xs:enumeration value="GetMemberFailed" />
      <xs:enumeration value="PostTransactionFailed" />
      <xs:enumeration value="MemberNotExist" />
      <xs:enumeration value="CompanySyncFailed" />
      <xs:enumeration value="InvalidGiftVoucher" />
      <xs:enumeration value="InvalidPocketVoucher" />
      <xs:enumeration value="TransactionFailed" />
      <xs:enumeration value="GetGiftCardFailed" />
      <xs:enumeration value="GetPocketVoucherFailed" />
      <xs:enumeration value="MenuSyncingFailed" />
      <xs:enumeration value="TaxSettingSyncingFailed" />
      <xs:enumeration value="UpdateOnlineOrderStatusFailed" />
      <xs:enumeration value="PostOnlineOrderInvoiceInfoFailed" />
      <xs:enumeration value="MultipleGUIDExist" />
      <xs:enumeration value="GUIDNotFound" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="OOLoyaltyResponseCode" nillable="true" type="tns:OOLoyaltyResponseCode" />
  <xs:complexType name="LoyaltyOOResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsSuccessful" type="xs:boolean" />
      <xs:element minOccurs="0" name="ResponseText" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoyaltyOOResponse" nillable="true" type="tns:LoyaltyOOResponse" />
</xs:schema>