SignalR/Client/SystemTrayApp/Connected Services/OnlineOrdering/item4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MenumateServices.DTO.Enum" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MenumateServices.DTO.Enum" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="TaxProfileType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SalesTax" />
      <xs:enumeration value="Purchasetax" />
      <xs:enumeration value="ServiceCharge" />
      <xs:enumeration value="ServiceChargeTax" />
      <xs:enumeration value="LocalTax" />
      <xs:enumeration value="ProfitTax" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TaxProfileType" nillable="true" type="tns:TaxProfileType" />
  <xs:simpleType name="MenuType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Food" />
      <xs:enumeration value="Beverage" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MenuType" nillable="true" type="tns:MenuType" />
  <xs:simpleType name="SiteSettingType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PickUp" />
      <xs:enumeration value="DineIn" />
      <xs:enumeration value="TakeAway" />
      <xs:enumeration value="ItemPriceIncludeTax" />
      <xs:enumeration value="ItemPriceIncludeServiceCharge" />
      <xs:enumeration value="CalculateTaxBeforeDiscount" />
      <xs:enumeration value="CalculateTaxAfterDiscount" />
      <xs:enumeration value="CalculateScPreDiscountedPrice" />
      <xs:enumeration value="ReCalculateScAfterDiscount" />
      <xs:enumeration value="ApplyServiceChargeTax" />
      <xs:enumeration value="ServiceChargeTaxRate" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SiteSettingType" nillable="true" type="tns:SiteSettingType" />
  <xs:simpleType name="OrderContainerType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Tab" />
      <xs:enumeration value="Table" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="OrderContainerType" nillable="true" type="tns:OrderContainerType" />
  <xs:simpleType name="UserType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Member" />
      <xs:enumeration value="Staff" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="UserType" nillable="true" type="tns:UserType" />
  <xs:simpleType name="OrderType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NormalOrder" />
      <xs:enumeration value="Unused" />
      <xs:enumeration value="CanceledOrder" />
      <xs:enumeration value="CreditNonExistingOrder" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="OrderType" nillable="true" type="tns:OrderType" />
</xs:schema>