SignalR/Client/SystemTrayApp/Connected Services/OnlineOrdering/WCFServiceLoyaltyMate.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WCFServiceLoyaltyMate" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8734/MenumateServices/LoyaltyMate/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8734/MenumateServices/LoyaltyMate/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8734/MenumateServices/LoyaltyMate/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MenumateServices.DTO.LoyaltyMate" />
      <xsd:import schemaLocation="http://localhost:8734/MenumateServices/LoyaltyMate/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/MenumateServices.DTO" />
      <xsd:import schemaLocation="http://localhost:8734/MenumateServices/LoyaltyMate/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Loyaltymate.Enum" />
      <xsd:import schemaLocation="http://localhost:8734/MenumateServices/LoyaltyMate/?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/OnlineOrdering.Enum" />
      <xsd:import schemaLocation="http://localhost:8734/MenumateServices/LoyaltyMate/?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/MenumateServices.DTO.OnlineOrdering" />
      <xsd:import schemaLocation="http://localhost:8734/MenumateServices/LoyaltyMate/?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/MenumateServices.DTO.Enum" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWCFServiceLoyaltyMate_SaveMember_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveMember" />
  </wsdl:message>
  <wsdl:message name="IWCFServiceLoyaltyMate_SaveMember_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveMemberResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFServiceLoyaltyMate_GetMemberByUniqueId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMemberByUniqueId" />
  </wsdl:message>
  <wsdl:message name="IWCFServiceLoyaltyMate_GetMemberByUniqueId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMemberByUniqueIdResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFServiceLoyaltyMate_GetMemberByCardCode_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMemberByCardCode" />
  </wsdl:message>
  <wsdl:message name="IWCFServiceLoyaltyMate_GetMemberByCardCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMemberByCardCodeResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFServiceLoyaltyMate_GetMemberByEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMemberByEmail" />
  </wsdl:message>
  <wsdl:message name="IWCFServiceLoyaltyMate_GetMemberByEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMemberByEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFServiceLoyaltyMate_UpdateMemberCardCode_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMemberCardCode" />
  </wsdl:message>
  <wsdl:message name="IWCFServiceLoyaltyMate_UpdateMemberCardCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMemberCardCodeResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFServiceLoyaltyMate_PostTransaction_InputMessage">
    <wsdl:part name="parameters" element="tns:PostTransaction" />
  </wsdl:message>
  <wsdl:message name="IWCFServiceLoyaltyMate_PostTransaction_OutputMessage">
    <wsdl:part name="parameters" element="tns:PostTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFServiceLoyaltyMate_GetCompanyInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCompanyInformation" />
  </wsdl:message>
  <wsdl:message name="IWCFServiceLoyaltyMate_GetCompanyInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCompanyInformationResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFServiceLoyaltyMate_GetGiftCardBalance_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGiftCardBalance" />
  </wsdl:message>
  <wsdl:message name="IWCFServiceLoyaltyMate_GetGiftCardBalance_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGiftCardBalanceResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFServiceLoyaltyMate_GetPocketVoucherDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPocketVoucherDetail" />
  </wsdl:message>
  <wsdl:message name="IWCFServiceLoyaltyMate_GetPocketVoucherDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPocketVoucherDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFServiceLoyaltyMate_ProcessVoucherTransaction_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcessVoucherTransaction" />
  </wsdl:message>
  <wsdl:message name="IWCFServiceLoyaltyMate_ProcessVoucherTransaction_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProcessVoucherTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFServiceLoyaltyMate_ReleaseVouchers_InputMessage">
    <wsdl:part name="parameters" element="tns:ReleaseVouchers" />
  </wsdl:message>
  <wsdl:message name="IWCFServiceLoyaltyMate_ReleaseVouchers_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReleaseVouchersResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFServiceLoyaltyMate_SyncMenu_InputMessage">
    <wsdl:part name="parameters" element="tns:SyncMenu" />
  </wsdl:message>
  <wsdl:message name="IWCFServiceLoyaltyMate_SyncMenu_OutputMessage">
    <wsdl:part name="parameters" element="tns:SyncMenuResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFServiceLoyaltyMate_SyncTaxSettings_InputMessage">
    <wsdl:part name="parameters" element="tns:SyncTaxSettings" />
  </wsdl:message>
  <wsdl:message name="IWCFServiceLoyaltyMate_SyncTaxSettings_OutputMessage">
    <wsdl:part name="parameters" element="tns:SyncTaxSettingsResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFServiceLoyaltyMate_GetOrdersFromWeb_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrdersFromWeb" />
  </wsdl:message>
  <wsdl:message name="IWCFServiceLoyaltyMate_GetOrdersFromWeb_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrdersFromWebResponse" />
  </wsdl:message>
  <wsdl:portType name="IWCFServiceLoyaltyMate">
    <wsdl:operation name="SaveMember">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFServiceLoyaltyMate/SaveMember" message="tns:IWCFServiceLoyaltyMate_SaveMember_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFServiceLoyaltyMate/SaveMemberResponse" message="tns:IWCFServiceLoyaltyMate_SaveMember_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMemberByUniqueId">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFServiceLoyaltyMate/GetMemberByUniqueId" message="tns:IWCFServiceLoyaltyMate_GetMemberByUniqueId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFServiceLoyaltyMate/GetMemberByUniqueIdResponse" message="tns:IWCFServiceLoyaltyMate_GetMemberByUniqueId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMemberByCardCode">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFServiceLoyaltyMate/GetMemberByCardCode" message="tns:IWCFServiceLoyaltyMate_GetMemberByCardCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFServiceLoyaltyMate/GetMemberByCardCodeResponse" message="tns:IWCFServiceLoyaltyMate_GetMemberByCardCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMemberByEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFServiceLoyaltyMate/GetMemberByEmail" message="tns:IWCFServiceLoyaltyMate_GetMemberByEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFServiceLoyaltyMate/GetMemberByEmailResponse" message="tns:IWCFServiceLoyaltyMate_GetMemberByEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateMemberCardCode">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFServiceLoyaltyMate/UpdateMemberCardCode" message="tns:IWCFServiceLoyaltyMate_UpdateMemberCardCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFServiceLoyaltyMate/UpdateMemberCardCodeResponse" message="tns:IWCFServiceLoyaltyMate_UpdateMemberCardCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PostTransaction">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFServiceLoyaltyMate/PostTransaction" message="tns:IWCFServiceLoyaltyMate_PostTransaction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFServiceLoyaltyMate/PostTransactionResponse" message="tns:IWCFServiceLoyaltyMate_PostTransaction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCompanyInformation">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFServiceLoyaltyMate/GetCompanyInformation" message="tns:IWCFServiceLoyaltyMate_GetCompanyInformation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFServiceLoyaltyMate/GetCompanyInformationResponse" message="tns:IWCFServiceLoyaltyMate_GetCompanyInformation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGiftCardBalance">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFServiceLoyaltyMate/GetGiftCardBalance" message="tns:IWCFServiceLoyaltyMate_GetGiftCardBalance_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFServiceLoyaltyMate/GetGiftCardBalanceResponse" message="tns:IWCFServiceLoyaltyMate_GetGiftCardBalance_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPocketVoucherDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFServiceLoyaltyMate/GetPocketVoucherDetail" message="tns:IWCFServiceLoyaltyMate_GetPocketVoucherDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFServiceLoyaltyMate/GetPocketVoucherDetailResponse" message="tns:IWCFServiceLoyaltyMate_GetPocketVoucherDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProcessVoucherTransaction">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFServiceLoyaltyMate/ProcessVoucherTransaction" message="tns:IWCFServiceLoyaltyMate_ProcessVoucherTransaction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFServiceLoyaltyMate/ProcessVoucherTransactionResponse" message="tns:IWCFServiceLoyaltyMate_ProcessVoucherTransaction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReleaseVouchers">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFServiceLoyaltyMate/ReleaseVouchers" message="tns:IWCFServiceLoyaltyMate_ReleaseVouchers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFServiceLoyaltyMate/ReleaseVouchersResponse" message="tns:IWCFServiceLoyaltyMate_ReleaseVouchers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SyncMenu">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFServiceLoyaltyMate/SyncMenu" message="tns:IWCFServiceLoyaltyMate_SyncMenu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFServiceLoyaltyMate/SyncMenuResponse" message="tns:IWCFServiceLoyaltyMate_SyncMenu_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SyncTaxSettings">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFServiceLoyaltyMate/SyncTaxSettings" message="tns:IWCFServiceLoyaltyMate_SyncTaxSettings_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFServiceLoyaltyMate/SyncTaxSettingsResponse" message="tns:IWCFServiceLoyaltyMate_SyncTaxSettings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrdersFromWeb">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFServiceLoyaltyMate/GetOrdersFromWeb" message="tns:IWCFServiceLoyaltyMate_GetOrdersFromWeb_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFServiceLoyaltyMate/GetOrdersFromWebResponse" message="tns:IWCFServiceLoyaltyMate_GetOrdersFromWeb_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="basicHttpBinding_ServiceLoyaltyMate" type="tns:IWCFServiceLoyaltyMate">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SaveMember">
      <soap:operation soapAction="http://tempuri.org/IWCFServiceLoyaltyMate/SaveMember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMemberByUniqueId">
      <soap:operation soapAction="http://tempuri.org/IWCFServiceLoyaltyMate/GetMemberByUniqueId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMemberByCardCode">
      <soap:operation soapAction="http://tempuri.org/IWCFServiceLoyaltyMate/GetMemberByCardCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMemberByEmail">
      <soap:operation soapAction="http://tempuri.org/IWCFServiceLoyaltyMate/GetMemberByEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMemberCardCode">
      <soap:operation soapAction="http://tempuri.org/IWCFServiceLoyaltyMate/UpdateMemberCardCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostTransaction">
      <soap:operation soapAction="http://tempuri.org/IWCFServiceLoyaltyMate/PostTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCompanyInformation">
      <soap:operation soapAction="http://tempuri.org/IWCFServiceLoyaltyMate/GetCompanyInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGiftCardBalance">
      <soap:operation soapAction="http://tempuri.org/IWCFServiceLoyaltyMate/GetGiftCardBalance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPocketVoucherDetail">
      <soap:operation soapAction="http://tempuri.org/IWCFServiceLoyaltyMate/GetPocketVoucherDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessVoucherTransaction">
      <soap:operation soapAction="http://tempuri.org/IWCFServiceLoyaltyMate/ProcessVoucherTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReleaseVouchers">
      <soap:operation soapAction="http://tempuri.org/IWCFServiceLoyaltyMate/ReleaseVouchers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SyncMenu">
      <soap:operation soapAction="http://tempuri.org/IWCFServiceLoyaltyMate/SyncMenu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SyncTaxSettings">
      <soap:operation soapAction="http://tempuri.org/IWCFServiceLoyaltyMate/SyncTaxSettings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrdersFromWeb">
      <soap:operation soapAction="http://tempuri.org/IWCFServiceLoyaltyMate/GetOrdersFromWeb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WCFServiceLoyaltyMate">
    <wsdl:port name="basicHttpBinding_ServiceLoyaltyMate" binding="tns:basicHttpBinding_ServiceLoyaltyMate">
      <soap:address location="http://localhost:8734/MenumateServices/LoyaltyMate/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>